USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29-01-2026 12:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Zip] [nvarchar](10) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeeSalaries]    Script Date: 29-01-2026 12:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeSalaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[SalaryDate] [datetime2](7) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_EmployeeSalaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [City], [Zip], [CreatedDate]) VALUES (1, N'hemlata1', N'mehta1', N'udaipur1', N'313008', CAST(N'2026-01-28T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [City], [Zip], [CreatedDate]) VALUES (2, N'tena', N'mehta', N'udaipur', N'313001', CAST(N'2026-01-28T10:30:00.0000000' AS DateTime2))
INSERT [dbo].[Employees] ([Id], [FirstName], [LastName], [City], [Zip], [CreatedDate]) VALUES (3, N'jitesh', N'Dhakar', N'udaipur', N'313001', CAST(N'2026-01-28T10:30:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Employees] OFF
SET IDENTITY_INSERT [dbo].[EmployeeSalaries] ON 

INSERT [dbo].[EmployeeSalaries] ([Id], [EmployeeId], [SalaryDate], [Amount], [CreatedDate]) VALUES (1, 1, CAST(N'2026-01-01T00:00:00.0000000' AS DateTime2), CAST(5000.00 AS Decimal(18, 2)), CAST(N'2026-01-28T16:51:53.8732988' AS DateTime2))
INSERT [dbo].[EmployeeSalaries] ([Id], [EmployeeId], [SalaryDate], [Amount], [CreatedDate]) VALUES (2, 1, CAST(N'2026-02-01T00:00:00.0000000' AS DateTime2), CAST(60000.00 AS Decimal(18, 2)), CAST(N'2026-01-28T16:57:44.8252617' AS DateTime2))
INSERT [dbo].[EmployeeSalaries] ([Id], [EmployeeId], [SalaryDate], [Amount], [CreatedDate]) VALUES (3, 1, CAST(N'2027-02-03T00:00:00.0000000' AS DateTime2), CAST(6000.00 AS Decimal(18, 2)), CAST(N'2026-01-29T11:57:41.9445309' AS DateTime2))
SET IDENTITY_INSERT [dbo].[EmployeeSalaries] OFF
/****** Object:  Index [IX_EmployeeSalaries_EmployeeId_SalaryDate]    Script Date: 29-01-2026 12:04:14 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EmployeeSalaries_EmployeeId_SalaryDate] ON [dbo].[EmployeeSalaries]
(
	[EmployeeId] ASC,
	[SalaryDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EmployeeSalaries]  WITH CHECK ADD  CONSTRAINT [FK_EmployeeSalaries_Employees_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EmployeeSalaries] CHECK CONSTRAINT [FK_EmployeeSalaries_Employees_EmployeeId]
GO
