@using EmployeeApp.Application.DTOS
@model EmployeeSalaryDto

@{
    ViewData["Title"] = "Add Monthly Salary";
}

<h3>Add Monthly Salary</h3>
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div>@error.ErrorMessage</div>
        }
    </div>
}

<form asp-action="AddSalary" method="post">

    <input type="hidden" asp-for="EmployeeId" />

    <div class="mb-3">
        <label asp-for="SalaryDate" class="form-label"></label>
        <input asp-for="SalaryDate" type="month" class="form-control" />
        <span asp-validation-for="SalaryDate" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary">
        Back
    </a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
